@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,opsz,wght@0,8..30,200;0,8..30,900;1,8..30,300;1,8..30,400&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background: url(bg.jpg) no-repeat center center fixed;
    background-size: cover;

}

.container{
    color: white;
    position: absolute;
    top:5%;
    Left:20%;
}

.container h1{
    font-family: 'Piazzolla', serif;
    display: inline-block;
    font-size: 40px;
    border-bottom: 5px solid gray;
    margin-bottom: 15px;
    padding: 13px 0;
}

.box{
    width: 100;
    margin: 12px 0px;
    border-bottom: 2px solid gray;
    
    
}

.box input{
    background: none;
    width: 75%;
    padding: 10px 19px;
    font-size: 20px;
    border: none;
    outline:none;
    color: white;
}

.box i{
    width: 25px;
    text-align: center;
}

.btn{
    color: white;
    cursor: pointer;
    outline: none;
    width: 25%;
    margin: 12px 0;
    padding: 6px;
    border: 2px solid gray;
    font-size: 18px;
    background:none;
    border-radius: 10px;
    font-weight: bold;
}

.btn:hover{
    color: gray;
    background:white;
}


